*{
  margin: 0px;
  padding: 0px;
}

/* HEADER */

a:hover{
  opacity: 60%;
}

header{
  background-color: white;
  position: fixed;
  padding: 2% 0% 2% 10%;
  width: 100%;
  top: 0px;
  z-index: 5;
}

ul li a{
  text-decoration: none;
  color: black;
}

.header-logo{
  position: absolute;
  font-size: 250%; 
  top: 15%;
  left: 3%;
}

header ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.header-user {
  position: absolute;
  left: 80%;
  text-decoration: none;
  color: #000;
}

.login-nav{
  display: flex;
}

/* FOOTER */

footer {
  background-color: #f0f0f0;
  position: relative;
  height: 400px;
}

footer h1{
  position: absolute;
  top: 15%;
  left: 14%;
}

footer h1 a{
  color: black;
  font-size: 300%;
  text-decoration: none;
}

footer img {
  position: absolute;
  top: 200px;
  left: 30px;
  height: 50%;
  width: 28%;
}

.footer-list {
  position: absolute;
  left: 45%;
}

.footer-list li{
  padding-top: 90%;
}

.footer-list li a{
  color: black;
  font-size: 25px;
}

.ad{
  position: absolute;
  top: 20%;
  left: 69%;
}

.ad p{
  letter-spacing: 3px;
  margin-top: 15px;
}

.tel{
  position: absolute;
  top: 60%;
  left: 69%;
}

.tel p{
  letter-spacing: 3px;
  margin-top: 15px;
}

@media(max-width:1000px){

  .header-logo{
    font-size: 180%;
  }

  footer h1{
    top: 30%;
  }

  footer img{
    display: none;
  }

}

@media(max-width:770px){

  header ul{
    width: 50%;
  }

}

@media(max-width:420px){

  header ul{
    width: 80%;
  }

  .header-user {
    top:1350%;
    left: 70%;
    color: white;
    text-decoration: none;
    background-color: rgb(24, 24, 24);
    padding: 5% 4%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px black;
  }

  .header-logo{
    font-size: 140%;
  }

  footer{
    height: 200px;
  }

  .footer-list{
    display: none;
  }

  .ad{
    top: 5%;
    left: 20%;
  }

  .tel{
    top: 50%;
    left: 20%;
  }

  footer h1{
    display: none;
  }
}

@media(max-height:900px){

  .header-user {
    top:1800%;
  }

}

@media(max-height:760px){

  .header-user {
    top:1500%;
  }

}

@media(max-height:600px){

  .header-user {
    top:1300%;
  }

}