*{
  margin: 0px;
  padding: 0px;
}

/* HEADER */

a:hover{
  opacity: 60%;
}

header{
  background-color: white;
  position: fixed;
  padding: 0px 0px 25px 100px;
  width: 100%;
  top: 0px;
  z-index: 5;
}

ul li a{
  text-decoration: none;
  color: black;
}

.header-logo{
  position: absolute;
  font-size: 40px; 
  top: 15%;
  left: 3%;
}

header ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.header-user {
  position: absolute;
  left: 80%;
  top: 40%;
  text-decoration: none;
  color: black;
}

.login-nav{
  display: flex;
}

/* FOOTER */

footer {
  background-color: #f0f0f0;
  position: relative;
  height: 400px;
}

footer h1{
  position: absolute;
  top: 50px;
  left: 240px;
}

footer h1 a{
  color: black;
  font-size: 100px;
  text-decoration: none;
}

footer img {
  position: absolute;
  top: 200px;
  left: 30px;
}

.footer-list {
  position: absolute;
  left: 650px;
}

.footer-list li{
  padding-top: 60px;
}

.footer-list li a{
  color: black;
  font-size: 25px;
}

.ad{
  position: absolute;
  top: 60px;
  left: 1000px;
}

.ad p{
  letter-spacing: 3px;
  margin-top: 15px;
}

.tel{
  position: absolute;
  top: 180px;
  left: 1000px;
}

.tel p{
  letter-spacing: 3px;
  margin-top: 15px;
}