* {
  margin: 0px;
  padding: 0px;
}
  
ul{
  list-style: none;
}

/* INDEX */

/* top */

.sub-title{
  font-size: 64px;
  font-family: sans-serif;
  margin-top: 300px;
  margin-left: 110px;
}
  
.sub-text{
  font-size: 15px;
  margin-left: 320px;
  margin-top: 15px;
}
  
.top-img{
  display: inline-block;
  height: 900px;
  width: 1440px;
  margin-top: 370px; 
  background:no-repeat url(/images/top-image.webp);
  background-size: cover;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top-img h1{
  font-size: 200px;
  margin-top: 250px;
}

.top-img p{
  font-size: 40px;
  letter-spacing: 15px;
  font-weight: bold;
}

/* news */

.news{
  width: 1000px;
  background-color: #f0f0f0;
  margin: 200px auto 200px;
  padding: 20px;
  text-align: center;
}

.news h1{
  padding-bottom: 5px;
}

.announce{
  padding: 5px 0px;
}

.news a{
  color: black;
}

/* introduce */
.introduce-beans {
  height: 500px;
  width: 1000px;
  position: relative;
  z-index: 1;
  margin-left: 50px;
}

.introduce-beans img{
  height: 500px;
  width: 900px;
}

.introduce-beans h1{
  width: 350px;
  position: absolute;
  top: 450px;
  left: 5px;
  background-color: darkgreen;
  color: #ffffff;
  margin-left: 20px; 
  padding:10px 70px 10px 10px;
  font-size: 50px;
}

.introduce-text{
  margin-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 90px;
  color: black;
  width: 650px;
}

.introduce-roast img{
  height: 700px;
  width: 500px;
  margin-top: 400px;
  margin-left: 750px;
}

.introduce-roast{
  position: relative;
}

.introduce-roast h1{
  width:500px;
  background-color: darkgreen;
  position: absolute;
  top: 500px;
  margin-left: 300px;
  color: #ffffff;
  padding:10px 70px 10px 10px;
  font-size: 50px;
}

.introduce-roast p{
  width: 500px;
  position: absolute;
  top: 600px;
  right: 800px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.introduce-shop img{
  height: 500px;
  width: 900px;
  margin-left: 50px;
  margin-top: 200px;
  position: relative;
  object-fit: cover;
 }

.introduce-shop{
  position: relative;
}

.introduce-shop h1{
  background-color: darkgreen;
  width: 360px;
  position: absolute;
  top: 650px;
  color: #ffffff;
  padding:10px 70px 10px 10px;
  font-size: 50px;
  margin-left: 30px;
}

.introduce-shop p{
  padding-left: 110px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* spend */

.spend{
  background-image: url(/images/spend.jpg);
  background-size: contain;
  margin: 200px 0px 400px;
  color: #ffffff;
  position: relative;
  padding: 100px 0px 100px;
}

.spend h2{
  font-size: 50px;
  display: inline-block;
  margin-left: 170px;
}

.spend h3{
  display: inline;
  margin-left: 120px; 
  font-size: 30px;  
} 

.spend p{
  margin-top: 60px;
  margin-left: 170px;
  font-size: 25px;
}

.mgr-150{
  margin-right: 150px;
}

.spend img{
  height: 400px;
  width: 500px;
  position: absolute;
  top: 320px;
  left: 800px; 
}

/* button-image */

.topics-container{
  padding-left: 120px;
  padding-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.title-one a{
  position: absolute;
  top: 370px;
  left: 350px;
}

.title-two a{
  position: absolute;
  top: 370px;
  left: 980px;
}

.title-three a{
  position: absolute;
  top: 1070px;
  left: 380px;
}

.title-four a{
  position: absolute;
  top: 1070px;
  left: 980px;
}

.topics-container a{
  margin: 0;
  font-size: 25px;
  border: solid white 5px;
  padding: 15px 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(22, 22, 22, 0.438);
}

.topics-container a:hover{
  background-color: rgba(255, 255, 255, 0.274);
}

/* ABOUT */

/* founding */

.founding h1{
  font-size: 35px;
  margin-top: 150px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.under{
  text-decoration: underline;
}

.founding img{ 
  position: relative;
}

.master-image p{
  background-color: darkgreen;
  display: inline-block;
  padding: 10px 50px;
  color: white;
}

.position {
  position: absolute;
  top: 500px;
  left: 850px;
}

.name {
  position: absolute;
  top: 540px;
  left: 890px;
}

.position-two {
  position: absolute;
  top: 750px;
  left: 850px;
}

.name-two{
  position: absolute;
  top: 790px;
  left: 890px;
}

.story h2{
  text-align: center;
  padding-top: 100px;
}

.story p{
  padding-top: 50px;
  width: 50%;
  padding-left: 350px;
}

/* MENU */

.menu{
  color: #ffffff;
  font-size: 25px;
}

/* drink-box */

.drink-box{
  background-image: url(/images/background-wood.png);
  background-size: cover;
}

/* food-box */

.food-box{
  background-image: url(/images/background-beans.png);
  background-size: cover;
}

/* tea-box */

.tea-box{
  background-image: url(/images/background-tea.png);
  background-size: cover;
}

.tea-text{
  text-align: center;
  width: 1000px;
  margin: 100px auto 0px;
}

/* box */

.box{
  padding-bottom: 200px;
}

.box h1{
  word-spacing: 20px;
  padding-top: 150px;
  text-align: center;
}

.box p{
  padding-top: 100px;
}

.products{
  display: flex;
  justify-content: space-between;
}

.product{
  margin-left: 320px;
}

.price{
  margin-right: 320px;
}

/* ACCESS */

.access{
  text-align: center;
}

.access h1{
  margin: 50px;
}

/* reservation */
.reservation h1{
  margin-top: 150px;
}


/* contact */



/* shop-overview */

.shop-overview{
  margin-bottom: 50px;
}

.condition{
  display: flex;
  justify-content: space-between;
}

.condition p{
  margin-bottom: 30px;
}

.condition-title{
  margin-left: 450px;
}

.condition-text{
  margin-right: 450px;
}

/* VIDEOLIST */

.video-list{
  text-align: center;
}

.video-list h1{
  margin-top: 300px;
  font-size: 64px;
}

.video{
  margin-top: 300px;
}

.video-list p{
  width: 650px;
  margin: 50px auto 0px;
}

.video-list h2{
  margin-top: 50px;
}

/* PROFILE */

.profile{
  text-align: center;
  margin: 150px auto;
}

.profile h1{
  font-size: 64px;
  margin-bottom: 100px;
}

.profile p{
  margin-bottom: 50px;
  font-size: 25px;
}

.profile div{
  display: flex;
  justify-content: space-between;
}

.personal{
  margin-left: 500px;
}

.profile-name,.profile-mail{
  margin-right: 500px;
}

.logout{
  font-size: 40px;
  opacity: 70%;
  margin:100px 0px 0px 350px;
}

/* SHAREVIDEO */

.share{
  text-align: center;
  margin-top: 200px;
}

/* NEWS */

.news-content{
  text-align: center;
}

.news-content h1{
  margin: 200px auto 100px;
}

.news-content p{
  width: 800px;
  margin: 100px auto;
}

.delete{
  display: inline-block;
  margin: 0px 0px 100px 200px;
  font-size: 20pt;
  padding: 10px 20px;
  border-radius: 20%;
}

.delete:hover{
  background-color: rgb(228, 228, 228);
}